polygon {
  fill:lightyellow;
  stroke:purple;
  stroke-width:2;
  fill-rule:evenodd;
}

.unowned {
  fill:whitesmoke;
}

.red {
  fill:red;
}

.blue {
  fill:royalblue;
}

.border {
  stroke: black;
  stroke-width: 1;
}

.hover_red {
  fill:lightpink;
}

.hover_blue {
  fill: lightblue;
}

.adjacent {
  fill:gold;
}