<!DOCTYPE html>
<html ng-app="hexApp">

<head>
  <link rel="stylesheet" href="app.css">
  <script src="node_modules/angular/angular.js"></script>
  <script src="tsc.js"></script>
  <script src="app.js"></script>
  <title>Hex</title>
</head>

<body ng-controller="HexController">
  Hex
  <div>
    <svg viewbox="{{viewbox}}">
      <polygon ng-class="{selected: hex.selected}" ng-repeat="hex in hexgame.hexes" ng-click="hex.selected = !hex.selected" points="{{hex.poly_string}}" />
    </svg>
  </div>
</body>

</html>